@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuIcon {
  display: none;
}
.nav__left {
  -webkit-animation: dropLeft 1.5s ease-in-out;
  animation: dropLeft 1.5s ease-in-out;
}
.nav__right {
  -webkit-animation: dropRight 1.5s ease-in-out;
  animation: dropRight 1.5s ease-in-out;
}
.nav__logo {
  cursor: pointer;
  -webkit-animation: bounce 2s ease-in-out infinite alternate both;
  animation: bounce 2s ease-in-out infinite alternate both;
}
@media only screen and (max-width: 900px) {
  nav {
    display: block;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-animation: dropLeftMenu 0.5s ease-in-out;
    animation: dropLeftMenu 0.5s ease-in-out;
  }
  .menuIcon {
    display: block;
    position: absolute;
    top: 8px;
    right: 0px;
    cursor: pointer;
  }
  .nav__left,
  .nav__right {
    display: none;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-8px);
  }
}
@keyframes dropLeft {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes dropRight {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes dropLeftMenu {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
